<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>To do list</title>
    <meta name="to do list" content="A to do list with Backbone.js">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon 
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"> -->

    <!-- stylesheets -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="my-todo">
        <h1>to do list</h1>
        <section class="input-area">
            <input type="text" class="add-todo" id="add-todo" name="add-todo" placeholder="add a new todo here and press enter" autofocus>
        </section>

        <section class="main-content">
            <input name="toggle-all" class="toggle-all" id="toggle-all" type="checkbox" />
            <label for "toggle-all">Mark all as completed</label>
            <ul class="list-todos"></ul>
        </section>

        <section class="footer">
        </section>
    </div>

    <!-- templates -->
    <script type="text/template" id="todos-template">
        <div class="view">
            <input class="toggle" type="checkbox" <%= completed ? 'checked="checked"' : '' %> />
            <label><%- task %></label>
            <button class="destroy"></button>
        </div>
    </script>
    
    <script type="text/template" id="count-template">
        <span class="todo-count"><%= remaining === 1 ? 'item' : 'items' %> left: <strong><%= remaining %></strong></span>
    </script>

    <!-- scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>