html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
	font-weight: 100;
	font-size: 5em;
	text-align: center;
	margin-bottom: 16px;
}

.my-todo {
	width: 400px;
	margin: 0 auto;
}

.add-todo {
	width: 100%;
	border: solid 1px #eeeeee;
	outline: none;
	padding: 16px;
	box-sizing: border-box;
}

.list-todos {
	list-style: none;
	padding-left: 0;
}

.list-todos li {
	padding: 16px 0;
	border: solid 1px #eeeeee;
}

.view {
	padding-left: 10px;
}

.list-todos input[type="checkbox"] {
	margin-right: 20px;
}

.list-todos input[type="checkbox"]:checked + label {
	text-decoration: line-through;
	color: gray;
}

/* 
.main-content > input[type="checkbox"]{
	display: none;
} */

.main-content {
	margin-top: 16px;
}

.main-content > input[type="checkbox"] + label:hover {
	cursor: pointer;
	color: gray;
}